# Игнорируем общие файлы и папки
.DS_Store
*.swp
*.tmp

# Игнорируем папки с зависимостями и данными
node_modules/
vendor/
bower_components/

# Игнорируем папку с данными для разработки
a-data-dev.auth-3/